
<div class="CYDYB-cydyb" >

<div class="CYDYB-xuan" >
  <span>找商机</span><span class="CYDYB-jiao"></span>

  </div>
<div class="CYDYB-list">
  <ul class="CYDYB-list1">
  <li ng-repeat="x in arr.record">
    <img src={{x.image}}>
    <div>
      <h3>{{x.title}}</h3>
      <p>{{x.authorname}}</p>

    </div>
  </li>


    



  </ul>

  </div> 
  <div class="CYDYB-jiazai">
  加载更多

    


  </div> 
    <div class="CYDYB-phone">
    <span></span>
     <span>电话：010-85801860</span>

    


  </div> 
  <div class="CYDYB-foot">
 返回电脑版
  

</div>
<div class="CYDYB-zhezhao">





  



</div>
<div class="CYDYB-zhezhao1">
<div class="CYDYB-choice">
 <span>找商机</span><span class="CYDYB-jiao1"></span>

  
</div>
<ul class="CYDYB-choice1">
<li  ng-click="clickMe1()"><span>找商机</span> <span>></span></li>
<li  ng-click="clickMe2()"><span>营销</span> <span>></span></li>
<li  ng-click="clickMe3()"><span>工商注册</span> <span>></span></li>
<li  ng-click="clickMe4()"><span>财税法</span> <span>></span></li>
<li  ng-click="clickMe5()"><span>产品设计</span> <span>></span></li>
<li  ng-click="clickMe6()"><span>全部课程</span> <span>></span></li>
  

</ul>
</div>




  




</div>

  
