<div class="YBY-yby">

	<div class="YBY-xuan" >
	  <span>励志故事</span><span class="YBY-jiao"></span>
	
	  </div>
	<div class="YBY-list">
	  <ul class="YBY-list1">
	  <li ng-repeat="x in arr.record">
	  	<img src={{x.image}}>
	  	<div>
	  		<h3>{{x.title}}</h3>
	  		<p>{{x.authorname}}</p>
	
	  	</div>
	  </li>
	
	
	  	
	
	
	
	  </ul>
	
	  </div> 
	  <div class="YBY-jiazai">
	  加载更多
	
	  	
	
	
	  </div> 
	    <div class="YBY-phone">
	    <span></span>
	     <span>电话：010-85801860</span>
	
	  	
	
	
	  </div> 
	  <div class="YBY-foot">
	 返回电脑版
		
	
	</div>
	<div class="YBY-zhezhao">
	
	
	
	
	
		
	
	
	
	</div>
	<div class="YBY-zhezhao1">
	<div class="YBY-choice">
	 <span>励志故事</span><span class="YBY-jiao1"></span>
	
		
	</div>
	<ul class="YBY-choice1">
	<li  ng-click="clickMe1()"><span>草根创业</span> <span>></span></li>
	<li  ng-click="clickMe2()"><span>励志故事</span> <span>></span></li>
	<li  ng-click="clickMe3()"><span>大佬创业</span> <span>></span></li>
	<li  ng-click="clickMe4()"><span>失败案例</span> <span>></span></li>
	<li  ng-click="clickMe5()"><span>全部课程</span> <span>></span></li>
		
	
	</ul>
	</div>

</div>