
<div class="CYTPQ-cytpq" >

	<div class="CYTPQ-xuan" >
	  <span>管理</span><span class="CYTPQ-jiao"></span>
	
	  </div>
	<div class="CYTPQ-list">
	  <ul class="CYTPQ-list1">
	  <li ng-repeat="x in arr.record">
	  	<img src={{x.image}}>
	  	<div>
	  		<h3>{{x.title}}</h3>
	  		<p>{{x.authorname}}</p>
	
	  	</div>
	  </li>
	
	
	  	
	
	
	
	  </ul>
	
	  </div> 
	  <div class="CYTPQ-jiazai">
	  加载更多
	
	  	
	
	
	  </div> 
	    <div class="CYTPQ-phone">
	    <span></span>
	     <span>电话：010-85801860</span>
	
	  	
	
	
	  </div> 
	  <div class="CYTPQ-foot">
	 返回电脑版
		
	
	</div>
	<div class="CYTPQ-zhezhao">
	
	
	
	
	
		
	
	
	
	</div>
	<div class="CYTPQ-zhezhao1">
	<div class="CYTPQ-choice">
	 <span>管理</span><span class="CYTPQ-jiao1"></span>
	
		
	</div>
	<ul class="CYTPQ-choice1">
	<li  ng-click="clickMe1()"><span>管理</span> <span>></span></li>
	<li  ng-click="clickMe2()"><span>战略</span> <span>></span></li>
	<li  ng-click="clickMe3()"><span>销售</span> <span>></span></li>
	<li  ng-click="clickMe4()"><span>股权</span> <span>></span></li>
	<li  ng-click="clickMe5()"><span>品牌</span> <span>></span></li>
	<li  ng-click="clickMe6()"><span>运营</span> <span>></span></li>
	<li  ng-click="clickMe7()"><span>全部课程</span> <span>></span></li>
		
	
	</ul>
	</div>

</div>
