<div class="HOME">
	<!--轮播图-->
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<a href="http://v.youmi.cn/mobile/album/?albumid=12465"><img src="img/011.jpg" /></a>
			</div>
			<div class="swiper-slide">
				<a href="http://v.youmi.cn/mobile/album/?albumid=12462"><img src="img/02.jpg" /></a>
			</div>
			<div class="swiper-slide">
				<a href="http://v.youmi.cn/mobile/album/?albumid=12461"><img src="img/03.jpg" /></a>
			</div>
			<div class="swiper-slide">
				<a href="http://v.youmi.cn/mobile/album/?albumid=12463"><img src="img/044.jpg" /></a>
			</div>
		</div>

		<div class="swiper-pagination"></div>
	</div>

	<!--推荐-->
	<div class="recommend">
		<div class="tuijian">
			<h4>
				<span>推荐<br /></span>
			</h2>
			<h5>
				<a href="http://v.youmi.cn/mobile/tagnamelist/?tagname=mianfei">最新课程</a>
				<a href="http://v.youmi.cn/mobile/zhuanti3detail/?id=8">学营销</a>
				<a href="http://v.youmi.cn/mobile/zhuanti3detail/?id=10">创业雷区</a>
			</h3>
		</div>
		<div class="list1">
			<ul>
				<li>
					<div>
						<span>创业误区</span>
						<span>教年轻人避免创业误区</span>
					</div>
					<h4>找准创业落脚点</h4>
				</li>
				<li>
					<div>
						<span>在线教育</span>
						<span>如何选聘和管理境外教师</span>
					</div>
					<h4>打造少儿英语第一品牌</h4>
				</li>
				<li>
					<div>
						<span>电商趋势</span>
						<span>企业家精神与电商未来</span>
					</div>
					<h4>胡润it富豪榜马云首富</h4>
				</li>
				<li>
					<div>
						<span>创业案例</span>
						<span>创始人团队最重要的是什么</span>
					</div>
					<h4>骑着野兽打天下</h4>
				</li>
			</ul>
		</div>
	</div>

	<!--猜你喜欢-->
	<div class="Guess_you_like">
		<div class="Lovely">
			<h4>
				<span>猜你喜欢<br /></span>
			</h2>
			<h5>
				<a href="">移动App</a>
				<a href="">新媒体</a>
				<a href="">大数据</a>
			</h3>
		</div>
		<div class="list2">
			<ul>
				<li>
					<div></div>
					<h4>马佳佳的另类营销</h4>
				</li>
				<li>
					<div></div>
					<h4>口才训练</h4>
				</li>
				<li>
					<div></div>
					<h4>李开复：如何自定人生</h4>
				</li>
				<li>
					<div></div>
					<h4>冯轮：如何提高个人实力</h4>
				</li>
			</ul>
		</div>
	</div>

	<!--要不要创业-->
	<div class="chaung_ye">
		<div class="Lovely">
			<h4>
				<span>要不要创业</span>
			</h2>
			<h5>
				<a href="">移动App</a>
				<a href="">新媒体</a>
				<a href="">大数据</a>
			</h3>
		</div>
		<div class="list2">
			<ul>
				<li>
					<div></div>
					<h4>马佳佳的另类营销</h4>
			</li>
			<li>
				<div></div>
				<h4>口才训练</h4>
			</li>
			<li>
				<div></div>
				<h4>李开复：如何自定人生</h4>
			</li>
			<li>
				<div></div>
				<h4>冯轮：如何提高个人实力</h4>
			</li>
			</ul>
		</div>
	</div>

	<!--创业第一步-->
	<div class="yi">
		<div class="Lovely">
			<h4>
				<span>创业第一步<br /></span>
			</h2>
			<h5>
				<a href="">营销</a>
				<a href="">找商机</a>
				<a href="">产品设计</a>
			</h3>
		</div>
		<div class="list2">
			<ul>
				<li>
					<div></div>
					<h4>怎样留住高端人才</h4>
			</li>
			<li>
				<div></div>
				<h4>打造有个性的电商品牌</h4>
			</li>
			<li>
				<div></div>
				<h4>如何行业第一</h4>
			</li>
			<li>
				<div></div>
				<h4>如何打造电商平台</h4>
			</li>
			</ul>
		</div>
	</div>

	<!--创业前三年-->
	<div class="san">
		<div class="Lovely">
			<h4>
				<span>创业前三年<br /></span>
			</h2>
			<h5>
				<a href="">找团队</a>
				<a href="">找资源</a>
				<a href="">用户运营</a>
			</h3>
		</div>
		<div class="list2">
			<ul>
				<li>
					<div></div>
					<h4>打造家居第一品牌</h4>
			</li>
			<li>
				<div></div>
				<h4>音乐人与创业者</h4>
			</li>
			<li>
				<div></div>
				<h4>艺术商品引人气</h4>
			</li>
			<li>
				<div></div>
				<h4>网络广告</h4>
			</li>								
			</ul>
		</div>
	</div>

	<!--创业突破期-->
	<div class="tu">
		<div class="Lovely">
			<h4>
				<span>创业突破期<br /></span>
			</h2>
			<h5>
				<a href="">品牌</a>
				<a href="">销售</a>
				<a href="">管理</a>
			</h3>
		</div>
		<div class="list2">
			<ul>
				<li>
					<div></div>
					<h4>股权众筹</h4>
			</li>
			<li>
				<div></div>
				<h4>总监必修</h4>
			</li>
			<li>
				<div></div>
				<h4>500万买来创业教训</h4>
			</li>
			<li>
				<div></div>
				<h4>如何做好品牌与运营</h4>
			</li>
			</ul>
		</div>
	</div>

	<!--创业新趋势-->
	<div class="shi">
		<div class="Lovely">
			<h4>
				<span>创业新趋势<br /></span>
			</h2>
			<h5>
				<a href="">移动App</a>
				<a href="">o2o</a>
				<a href="">大数据</a>
			</h3>
		</div>
		<div class="list2">
			<ul>
				<li>
					<div></div>
					<h4>打造第一款智能保险柜</h4>
			</li>
			<li>
				<div></div>
				<h4>如何玩转网红经济</h4>
			</li>
			<li>
				<div></div>
				<h4>掌控智能手表新战局</h4>
			</li>
			<li>
				<div></div>
				<h4>农村淘宝</h4>
			</li>
			</ul>
		</div>
	</div>

	<div class="footer">
		<p>
			<a href="#landing">登陆</a>
			<a href="#register">注册</a>
		</p>
		<div>
			<a href="">电话-0108580</a>
			<a href="http://v.youmi.cn/mobile/activitylist/">优米活动</a>
			<a href="http://www.youmi.cn/?f=wap">电脑版</a>
		</div>
	</div>
	
	<!--回到顶部-->
	<div class="topp">
		 
	</div>
	
</div>