<div class="zhuanti">
	<div class="ZT">
				<ul class="main">
					<li ng-repeat="x in arr.data">
						<a href="#XQ">
							<img ng-src="{{x.image}}"/>
							<p>{{x.word}}</p>
						</a>
					</li>
					
				</ul>
				
				<footer>
				<ul>
					<li>
						<i></i>
						电话：010-85801860
					</li>
					<li>
						<i></i>
						微博：@优米网
					</li>
					<li>
						<i></i>
						QQ客服：800021784
					</li>
					<li>
						<i></i>
						微信：youmiwang
					</li>
				</ul>
			</footer>
				
	</div>
</div>