* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #333;
}
.find_password .header {
  width: 100%;
  height: 0.48rem;
  line-height: 0.48rem;
  text-align: center;
  color: white;
  font-size: 0.2rem;
  background-image: -webkit-linear-gradient(45deg, #ff9900, #ff6600);
}
.find_password .header span {
  color: white;
}
.find_password .header a:first-child span {
  float: left;
  width: 0.2rem;
  height: 0.2rem;
  border: #fff solid;
  border-width: 0 0 2px 2px;
  transform: rotate(45deg);
  margin: 0.15rem 0 0 0.15rem;
}
.find_password .header a:nth-child(2) span {
  width: 0.3rem;
  height: 0.42rem;
  display: block;
  float: right;
  font-size: 0.14rem;
  background: url(../img/publicico.png) no-repeat center center;
  background-size: cover;
  background-position: 0 -1.14rem;
  margin: 0.1rem 0.1rem 0 0;
}
.find_password .header .daohang {
  position: absolute;
  top: 0.48rem;
  right: 0;
  width: 0.9rem;
  height: 1.5rem;
  background: #ff6f0e;
  z-index: 9;
  display: none;
}
.find_password .header .daohang li {
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  border-bottom: 1px solid white;
  color: white;
  font-size: 0.14rem;
}
.find_password .form1 {
  width: 100%;
  background: white;
  height: 1.6rem;
  padding: 0.1rem;
}
.find_password .form1 .form2 {
  width: 100%;
  height: 1.34rem;
  border: 1px solid #d2d2d2;
  margin: 0 auto;
  border-radius: 0.05rem;
}
.find_password .form1 .form2 h4 {
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  color: #333;
}
.find_password .form1 .form2 input {
  width: 95%;
  height: 0.4rem;
  margin: 0.15rem 0 0 0.08rem;
  border-radius: 0.05rem;
  padding: 0.1rem;
  border: 1px solid gainsboro;
  font-size: 0.16rem;
}
.find_password .form1 .form2 button {
  width: 95%;
  height: 0.4rem;
  margin: 0.15rem 0 0 0.08rem;
  border-radius: 0.05rem;
  border: 1px solid gainsboro;
  background-image: -webkit-linear-gradient(45deg, #ff9900, #ff6600);
  font-size: 0.16rem;
  color: white;
}
.find_password .footer {
  width: 100%;
  height: 4.59rem;
  background: white;
}
.find_password .footer p {
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  text-align: center;
  color: #333;
}
.find_password .footer p:first-child {
  background: #e5e5e5;
}
